#header {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 80px;
    min-width: $min-width;
    background-color: #fff;
}

.gnb {
    position: absolute;
    top: 0;
    left: 200px;
    background-color: #abc;
}

.lang {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #bac;
}

@include media($mobile-width) {
    .lang, .gnb {
        display: none;
    }
}
