
nav {
    position: fixed;
    z-index: 100;
    background: #fff;
}

.gnb {
    position: relative;
    // width: $gnb-list-width * 3;
    width: $gnb-width;
    height: 100%;
    margin: 0 auto;

    a {
        font-family: 'Oswald', sans-serif;
    }

    ul.normal {
        height: 100%;

        >li {
            // width: $gnb-list-width;
            position: relative;
            height: 100%;

            >a {
                color: $gnb-minor-color;
                height: 100%;
                padding: 0 $gnb-menu-padding;
                font-size: 19px;
                font-weight: 400;

                span {
                    display: inline-block;
                    overflow: hidden;
                    line-height: 500px;
                    height: 80px;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            &.selected {

                >a {
                    color: $gnb-major-color;

                    span {
                        border-bottom: solid $gnb-highlight-size $gnb-major-color;
                    }
                }
            }

            .dropdown-content {
                // min-width: 100%;
                // width: 100%;
                left: 50%;
                margin-left: -$gnb-list-dropdown-width * 0.5;
                // margin-left: 40px;
                padding: 21px 0;

                >li {
                    width: $gnb-list-dropdown-width;
                    // width: 100%;
                    min-height: 32px;
                    margin: -5px 0;

                    &.divider {
                        min-height: 0;
                    }

                    a {
                        padding: 14px 30px;
                        line-height: 14px;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 300;
                        letter-spacing: 1px;
                    }
                }
            }
        }
        
        >li:nth-child(1) >a >span {
            width: $gnb-menu01-width;
            background-image: url('imgs/nav/gnb_menu01.png');
        }

        >li.selected:nth-child(1) >a >span {
            background-image: url('imgs/nav/gnb_menu01_on.png');
        }

        >li:nth-child(2) >a >span {
            width: $gnb-menu02-width;
            background-image: url('imgs/nav/gnb_menu02.png');
        }

        >li.selected:nth-child(2) >a >span {
            background-image: url('imgs/nav/gnb_menu02_on.png');
        }

        >li:nth-child(3) >a >span {
            width: $gnb-menu03-width;
            background-image: url('imgs/nav/gnb_menu03.png');
        }

        >li.selected:nth-child(3) >a >span {
            background-image: url('imgs/nav/gnb_menu03_on.png');
        }

        >li:nth-child(4) >a >span {
            width: $gnb-menu04-width;
            background-image: url('imgs/nav/gnb_menu04.png');
        }

        >li.selected:nth-child(4) >a >span {
            background-image: url('imgs/nav/gnb_menu04_on.png');
        }
    }

    .highlight-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: $gnb-highlight-size;
        background-color: $gnb-major-color;
        -webkit-transition: width 0.5s, left 0.5s; /* Safari */
        transition: width 0.5s, left 0.5s;
    }
}

.language-box {
    position: absolute;
    top: 0;
    right: 0;

    > li {
        padding: 0;
        > a {
            display: inline;
            padding: 0 15px;
            border-right: 1px solid #ccc;
            font-size: 11px;
        }
    }

    > li:last-of-type > a {
        border-right: none;
    }
}

@media #{$header-center-limit-down} {
    .gnb {
        margin-left: 300px;
    }
}

@media #{$small-and-down} {
    .brand-logo >img {
        width: 150px;
        padding-top: 8px;
    }
}
